@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
/* 
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 75 to 100
// <uniquifier>: Use a unique and descriptive class name
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*========================================================
 Reset
========================================================*/
html{
    -webkit-text-size-adjust:none; /* Chrome, Safari, newer version of Opera*/
    -moz-text-size-adjust:none; /* Firefox */
    -ms-text-size-adjust:none; /* ie */
    -o-text-size-adjust:none; /* old version of opera */
}
html,body{height:100%; color:#333; font-size:14px; font-weight:400; /*line-height:1.4; */font-family:'Roboto','Noto Sans KR', 'Apple SD Gothic Neo',-apple-system,system-ui,BlinkMacSystemFont,Roboto,NotoSans,'Malgun Gothic','맑은 고딕',sans-serif;word-break: break-all;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; -webkit-font-smoothing:antialiased; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
table td,table th{word-break: keep-all; word-wrap: break-word;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
hr{display:block; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; height:1px; border:0; border-top:1px solid #b5b1b2; margin:0; padding:0; overflow:visible;}
a{background:transparent; text-decoration:none; color:inherit;}
a:hover, a:active{text-decoration:none; outline:0;}
address, caption, strong[lang=en], em, cite, b {font-weight:normal; font-style:normal; }
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
legend,caption{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0);}
fieldset, img{border:0}
label, select, input, textarea {vertical-align:middle; }
img{max-width: 100%; vertical-align: top;}
img:not([src]){visibility: hidden;}
select::-ms-expand{display:none;}
legend.block{display:block; position:static; left:0; width:auto; height:auto; overflow:visible; text-indent:0;}

select{
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    }
select::-ms-expand{display:none;}

/* skip navigation */
.skip-navi a{ position:absolute;top:-999em;}
.skip-navi a:focus {display:block; left:0; top:0; z-index:9999; width:100%; height:30px; line-height:30px; background:#000; color:#fff; text-align:center;}


/*========================================================
 Common
========================================================*/
.blind{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
.hide{display:none !important;}
.v-hidden{visibility:hidden;}
.dis-inb{display:inline-block;}

/**** Float ****/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}

/**** Text Align,Style ****/
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-normal{font-weight:400 !important;}
.text-md{font-weight:500 !important;}
.text-bold{font-weight:700 !important;}

/* ellipsis */
.text-elps{text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;}
.text-elps2{display:block; display:-webkit-box !important; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; word-break: keep-all;}
.text-elps3{display:block; display:-webkit-box !important; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; word-break: keep-all;}
table td .title-elps{display:inline-block; vertical-align: middle; max-width:94%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; word-break: keep-all;}


/* Button ===============================================*/
.btn{display:inline-block;min-height:20px;padding:10px 20px 10px;border:none;border-radius:4px;background:#efefef;font-family:'NotoSansKrBold';font-size:14px;font-weight:bold;line-height:20px;cursor:pointer;}/* position:relative;top:0; */
/* a.btn{line-height:30px;} */
.btn:hover,
.input-group .btn:hover,
.input-group.sm-basic .btn:hover{ }
.btn:disabled,fieldset:disabled .btn,
.btn:disabled:hover,fieldset:disabled .btn:hover{border-color:#eaeaea !important;background-color:#eaeaea !important;color:#c1c1c1 !important;cursor:none;cursor:revert;}
.btn [class*="ico-"]{margin-right:10px;}
.btn + .btn,.btn ~ .btn{margin:0 0 0 3px;}
[class*="btn-area"]{position:relative;clear:both;text-align:center;}
[class*="btn-area"]:after{content:'';display:block;clear:both;}
[class*="btn-area"].type-popup{margin-top:30px;}
.btn-area-right{text-align:right;}
.btn-area-left{text-align:left;}
.btn-area-justify{text-align:left;}
.btn-area-justify .btn:first-of-type{float:left;}
.btn-area-justify .btn:last-of-type{float:right;}
/* button(size) */
[class*="btn-xxs"]{height:24px;padding:2px 7px;font-size:12px;letter-spacing:-.1px;line-height:17px;}
[class*="btn-xs"]{height:29px;padding:4px 6px 6px;font-size:13px;letter-spacing:-.33px;line-height:19px;}
[class*="btn-xs2"]{height:35px;padding:8px 12px;letter-spacing:0px;}
[class*="btn-sm"]{height:32px;padding:5px 14px;}/* height:36px; padding:7px 17px; << padding:5px 17px; */
[class*="btn-sm2"]{height:40px;padding:10px;}/* padding:5px 17px; */
[class*="btn-md"]{width:200px;height:55px;}
[class*="btn-lg"]{width:400px;height:55px;}/* font-size:18px;font-weight:bold; */
[class*="btn-full"]{width:100%;height:50px;}
/* button(color_full) */
.btn[class*="transper"]{background-color:transparent;}
.btn[class*="normal"]{border-radius:0;font-weight:normal;}
.btn[class*="black"]{background-color:#000;color:#fff;}
.btn[class*="grey"]{border:1px solid #505050;background-color:#f5f5f5;color:#505050;}
.btn[class*="deepgrey"]{border:1px solid #787878;background-color:#787878;color:#fff;}
.btn[class*="deepgrey"]:hover,
.btn[class*="deepgrey"].active{border-color:#4d4d4d;background-color:#4d4d4d;color:#fff;}
.btn[class*="deepgrey"]:disabled{background-color:#eaeaea;color:#c1c1c1;}
.btn[class*="deepgrey2"]{border:1px solid #54575a;background-color:#54575a;color:#fff;}
.btn[class*="deepgrey2"]:hover,
.btn[class*="deepgrey2"].active{border-color:#222;background-color:#222;}
.btn[class*="deepgrey2"]:disabled{background-color:#eaeaea;color:#c1c1c1;}

.btn[class*="primary"]{border:1px solid #27AE60;background-color:#27AE60;color:#fff;}
.btn[class*="primary"]:hover{background-color:#19703d;}/* color:#ffcece; */
/* .btn[class*="primary"]:focus, */
.btn[class*="primary"].active{background-color:#27AE60;}
/* 
.btn[class*="white"]{border:1px solid #000;background-color:#fff;color:#000;font-weight:bold;} */

/* button(color_line) */
.btn[class*="-line"]{background:#fff;color:#505050;}/* border:1px solid transparent; */
.btn[class*="-line"] [class*="ico"]{margin:6px 6px 7px;}/* margin:7px 6px; <<< margin:6px; << margin:0; */
.btn[class*="-line"][class*="-lightgrey"]{border-color:#707070;color:#222;}/* padding:8px 10px; */
.btn[class*="-line"][class*="-lightgrey"]:hover,
.btn[class*="-line"][class*="-lightgrey"].active{background-color:#707070;color:#fff;}
.btn[class*="-line"][class*="-primary"]{border-color:#27AE60;color:#27AE60;}/* padding:8px 10px; */
.btn[class*="-line"][class*="-primary"]:hover,
.btn[class*="-line"][class*="-primary"].active{background-color:#27AE60;color:#fff;}
.btn[class*="-line"][class*="-primary"]:hover [class*="ico"],
.btn[class*="-line"][class*="-primary"].active [class*="ico"]{
    -webkit-filter:brightness(0) invert(1); 
    filter:brightness(0) invert(1);
}
.btn[class*="-line"][class*="-secondary"]{border-color:#27AE60;color:#27AE60;}/* padding:8px 10px; */
.btn[class*="-line"][class*="-secondary"]:hover{border-color:#27AE60;background-color:#ffeaea;color:#27AE60;}
.btn[class*="-line"][class*="-secondary"]:focus,
.btn[class*="-line"][class*="-secondary"].active{border-color:#27AE60;color:#27AE60;}
.btn[class*="-line"][class*="-grey"]{border-color:#333;color:#000;}/* padding:8px 10px; */
.btn[class*="-line"][class*="-grey"]:hover{border-color:#000;background-color:#3333331a;}
/* .btn[class*="-line"][class*="-grey"]:focus, */
.btn[class*="-line"][class*="-grey"].active{border-color:#000;background-color:#3333331a;}
.btn[class*="-line"][class*="-trans"]{border-color:transparent;}/* padding:8px 10px; */
/* button(조합형) */
[class*="btn-xs2"][class*="normal-grey"]{line-height:19px;}
[class*="btn-xs2"][class*="normal-grey"]:hover{}
/* [class*="btn-xs2"][class*="normal-grey"]:focus, */
[class*="btn-xs2"][class*="normal-grey"].active{background-color:#fff;font-weight:bold;}
